{% extends "base.html" %}

{% block page-name %}
	<h2>Contest Form</h2>
{% endblock %}

{% block content %}
{% load bootstrap3 %}
<div class="container">
<div class="row">
<div class="col-md-3"></div>
	<div class="col-md-6" style="background: #f5f5f5; padding:20px 50px;">
		<form action="" method="post" class="form-horizontal" enctype="multipart/form-data">
		<fieldset>
		{% csrf_token %}
		{% bootstrap_form form %}
	    {% buttons %}
	        <button type="submit" class="btn btn-success btn-block">Submit</button>
	    {% endbuttons %}
	    </fieldset>
		</form>
	</div>
</div>

</div>
{% endblock %}