    <!-- Meta Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="N4NOW connects the creative college students, fresh graduates and internship candidates to the prominent organizations of industry they want to be a part of." />
    <meta name="keywords" content="n4now, next for now, istanbul, turkiye, yarisma, stajyer, ogrenci, mezun, yaratıcı, tasarim" />
    <meta name=”google” content=”notranslate” />
    <meta name="language" content="english" />
    <meta name="robots" content="all, follow, noarchive" />
    <meta name="googlebot" content="all, follow, noarchive" />
    <meta name="distribution" content="global" />
    <meta name="designer" content="" />
    <meta property="og:locale" content="tr_TR" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Next For Now" />
    <meta property="og:description" content="N4NOW connects the creative college students, fresh graduates and internship candidates to the prominent organizations of industry they want to be a part of." />
    <meta property="og:url" content="http://nextfornow.com" />
    <meta property="og:site_name" content="Next For Now" />
    <meta property="article:publisher" content="Next For Now" />
    <!-- /Meta Tags -->