{% extends "base.html" %}

{% block page-name %}
	<h2>Sign Up</h2>
{% endblock %}

{% block content %}
{% load bootstrap3 %}
<div class="container">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">

<div class="panel panel-default">
  <div class="panel-heading">
  </div>
  <div class="panel-body">
    <form method="post" action"">
			{% csrf_token %}
			<input type="hidden" name="next" value="{{next}}">
			{% bootstrap_form form layout='inline' %}
			{% buttons %}
	        <button type="submit" class="btn btn-success btn-block">Submit</button>
	        {% endbuttons %}
		</form>
  </div>
    <div class="panel-footer text-center">
    <span>Already have an account? <a href="/users/login">Login!</a></span>
    </div>

</div>

		
		</div>
		<div class="col-md-4"></div>
	</div>
</div>
{% endblock %}