{% extends "base.html" %}

{% block page-name %}
	<h2>Account Settings</h2>
{% endblock %}

{% block content %}
{% load bootstrap3 %}
<div class="container">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">

<div class="panel panel-default panel-user">
	<div class="">
  		{% if messages %}
		<ul class="messages">
    		{% for message in messages %}
    		<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        		{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        		{{ message }}
    		</li>
    		{% endfor %}
		</ul>
		{% endif %}
	</div>
  <div class="panel-heading text-center">
  You can change your account settings below.
  </div>
  <div class="panel-body">
    <form method="post" action"">
			{% csrf_token %}
			<input type="hidden" name="next" value="{{next}}">
			{% bootstrap_form form %}
			{% buttons %}
	        <button type="submit" class="btn btn-success btn-block">Submit</button>
	        {% endbuttons %}
		</form>
  </div>

</div>

		
		</div>
		<div class="col-md-4"></div>
	</div>
</div>
{% endblock %}