<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	
	<title>{% block title %}Next For Now{% endblock %}</title>

	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'public/css/main.css' %}">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://bootswatch.com/paper/bootstrap.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	
	<!-- For Custom Title Backgrounds -->
	<style>{% block custom-title-color %}{% endblock %}</style>

</head>
<body>

	<header>
		{% include "partials/navbar.html" %}
	</header>
	
	<section class="page-title">
	<div class="container">
		<div class="row">
		<div class="col-md-12">
			<div class="page-header">
				{% block page-name %}
				{% endblock %}
			</div>
		</div>
		</div>
	</div>
	</section>

	{% block content %}
	{% endblock %}

</body>
</html>