<!DOCTYPE html>
<html lang="en">
<head>
	{% include "partials/meta.html" %}

	<title>{% block title %}Next For Now{% endblock %}</title>

	{% load staticfiles %}
	<link rel="Shortcut Icon" href="{% static 'public/img/favicon.png' %}">
	
	<!-- Bootstrap With Paper Theme -->
	<link rel="stylesheet" href="{% static 'public/css/bootstrap.min.css' %}">

	<!-- Main CSS -->
	<link rel="stylesheet" href="{% static 'public/css/main.min.css' %}">
	
	<!-- Navbar Position is a little bit different on index page -->
	<style>
		.navbar{
			padding-top: 15px;
			background: none!important;
			border: none!important;
			box-shadow: none!important;
		}
	</style>

</head>
<body>

	<section id="home-header">
		{% include "partials/navbar.html" %}

		<div class="home-container">
			<div class="container">
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-8">
						<h1>Make it better.</h1>
						<p>N4NOW connects the creative college students, fresh graduates and internship candidates to the prominent organizations of industry they want to be a part of.</p>
						<a href="/about" class="btn btn-primary btn-lg btn-home">Learn More</a>

					</div>
					<div class="col-md-2"></div>
				</div>
			</div>		
		</div>

	</section>
	
<!-- Jquery -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</body>
</html>