<!-- Filtering -->
	<div class="filters">
		<div class="container">
			<div class="row">
					<!-- Filter by Category-->
					<div class="col-md-2 col-xs-6">
						<div class="dropdown">
							<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
								Filter by Category
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
								{% for category in contest_category_list %}
								<li>
									<a href="/contests/category/{{ category.slug }}">{{ category|title }}</a>
								</li>
								{% endfor %}
							</ul>
						</div>
					</div>
					<!-- /Filter by Category-->
					
					<!-- Filter by Company-->
					<div class="col-md-2 col-xs-6">
						<div class="dropdown">
							<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
								Filter by Company
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
								{% for company in contest_owner_list %}
								<li>
									<a href="/contests/company/{{ company.id }}">{{ company.company_name }}</a>
								</li>
								{% endfor %}
							</ul>
						</div>
					</div>
					<!-- /Filter by Company-->
					
					<!-- Filter by Status-->
					<div class="col-md-2 col-xs-6">
						<div class="dropdown">
							<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
								Filter by Status
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" aria-labelledby="dropdownMenu3">
								<li><a href="/contests/ongoing">Ongoing</a></li>
								<li><a href="/contests/finished">Finished</a></li>
							</ul>
						</div>
					</div>
					<!-- Filter by Status-->

					<div class="col-md-6 ">
						<div class="search-form pull-right">
							<form class="form-inline" role="search" action="/contests/search/" method="get" >
								<input type="text" class="form-control" placeholder="Search" name="q">
								<button type="submit" class="btn btn-link">
									<span class="glyphicon glyphicon-search" aria-hidden="true">
									</span>
								</button>
							</form>
						</div>
					</div>
			</div>
		</div>
	</div>
<!-- /Filtering -->

<!-- Listing -->
	<div class="listing">
		<div class="container">
			<div class="row">
				<!-- Contest Card -->
				{% for contest in contest_list %}
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="panel panel-default">
					<!-- Contest Image -->
						<div class="panel-img">
							<a href="{% url 'contests:view_contest' contest.slug %}">
								<img src="/media/{{contest.image}}" width="100%" alt="">
							</a>
						</div>
					<!-- /Contest Image -->

					<!-- Card Body -->	
	  					<div class="panel-body">
	  						<h4 class="contest-title"><a href="{% url 'contests:view_contest' contest.slug %}">{{ contest.title}}</a></h4>
	  						<p>{{ contest.description }}</p>
	  						<h5 class="contest-info">by <a href="{% url 'contests:by_owner' contest.owner.pk %}">{{ contest.owner }}</a></h5>
	  						<h5 class="contest-info">ends on <a href="#">{{ contest.date_deadline }}</a></h5>
	  					</div>
	  				<!-- /Card Body -->
	  				</div>
				</div>
				{% endfor %}
				<!-- /Contest Card -->
			</div>
		</div>
	</div>
<!-- /Listing -->