<div class="container">
<div class="row">
	<div class="col-md-12">
		{% load staticfiles %}
    <p><a href="/static/public/img/about.webm" target="_new"><img src="{% static 'public/img/fish.png' %}" alt="" width="40px"></p></a>
	</div>
</div>
  <div class="row">
    <div class="col-md-4">
      <p>&#169; 2015 <b>Next For Now.</b><br>N4N connects the creative college students, fresh graduates and internship candidates to the prominent organizations of industry they want to be a part of.</p>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-5">
          <ul class="list-unstyled">
            <li><a href="/about">About Us</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="github.com/zebrasinpyjamas/nextfornow">Github Repository</a></li>
          </ul>
        </div>
        <div class="col-md-5">
          <ul class="list-unstyled">
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
          </ul>     
        </div>
      </div>
    </div>
    <div class="col-md-4">
    <br>
      <ul class="list-inline">
      	<li><a href=""><img src="{% static 'public/img/icon_fb.png' %}" alt=""></a></li>
      	<li><a href=""><img src="{% static 'public/img/icon_tw.png' %}" alt=""></a></li>
      	<li><a href=""><img src="{% static 'public/img/icon_ins.png' %}" alt=""></a></li>
      	<li><a href=""><img src="{% static 'public/img/icon_lin.png' %}" alt=""></a></li>
      	<li><a href=""><img src="{% static 'public/img/icon_git.png' %}" alt=""></a></li>

      </ul>
    </div>
  </div>
</div>