.navbar{
	border-radius: 0!important;
	margin-bottom: 0!important;
}

.navbar-collapse a{
	font-size: 14px;
	color: #E3F2FD!important;
}

.navbar-collapse a:hover{
	color: white!important;
}

.navbar-inverse{
background: #1A3557!important; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #4b6cb7 , #182848)!important; /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #4b6cb7 , #182848)!important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar-brand{
	padding: 10px!important;
}

.navbar-brand > img{
	padding: 0;
	margin: 0 10px;
}

.nav .dropdown {
	padding: 15px;
}

.nav .icon-text{
	padding-left: 10px;
}

.page-title{
	margin-bottom: 10px;
	background: #4183D7; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #1E88E5 , #4183D7); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #1E88E5 , #4183D7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}

.page-header{
	background: none;
	border: none!important;
	margin: 0 auto!important;	
}

.page-header h2{
	text-align: center;
	color: white;
}

.page-header small{
	font-size: 18px;
	color: white;
	text-transform: uppercase;
}

.listing, .filters{
	margin-top: 25px;
}

.panel-body {
	text-align: center;
}

.panel-body > h3{
	margin-top: 0px;
	margin-bottom: 20px;
	line-height: 20px;
}

.panel-body > h3 > a{
	font-size: 20px;
	text-decoration: none;
	color: #354457;
}

.contest-info {
	font-size: 14px;
}

.btn-contest-details {
	margin-top: 10px;
}

.contest-details{
	margin-top: 25px;
}

#home-header{
	min-height: 100vh;
	background: url(../img/bg.png) center center no-repeat;
	background-size: cover;
	text-align: center;
}

.home-container{
	display: inline-flex;
  	align-items: center;
  	text-align: center;
  	min-height: 80vh;
  	color: white!important;
}

.home-container h1{
	font-size: 64px;
	margin-bottom: 48px;
	color: white;
}

.home-container p{
	font-size: 18px;
	margin-bottom: 48px;
}

.btn-home{
	width: 40%;
}

.signup-container{
	margin-top: 15px;
}

.panel-cowner{
	border-top: 3px solid #6A1B9A!important;
}

.panel-signup-title{
	margin-bottom: 15px;
}

.panel-applicant{
	border-top: 3px solid #D84315!important;
}

.panel-signup-img{
	width: 72px;
	margin-top: 10px;
	margin-bottom: 15px;
}