{% extends "base.html" %}

{% block page-name %}
	<h2>Welcome!</h2>
{% endblock %}

{% block content %}
{% load bootstrap3 %}

{% if messages %}
	{% include "partials/msg.html" %}
{% endif %}

<div class="container">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">

<div class="panel panel-default form-login panel-user">
  <div class="panel-heading text-center">
  <h4>Login</h4>
  </div>
  <div class="panel-body text-center">
    <form method="post" action"">
			{% csrf_token %}
			<input type="hidden" name="next" value="{{next}}">
			{% bootstrap_form form layout='inline' %}
			{% buttons %}
	        <button type="submit" class="btn btn-success btn-block">Login</button>
	       	{% endbuttons %}
		</form>
  </div>
    <div class="panel-footer text-center">
    <span>New to Next For Now? <a href="{% url 'user:signup' %}">Sign Up!</a></span>
    </div>

</div>

		
		</div>
		<div class="col-md-4"></div>
	</div>
</div>
{% endblock %}