{% extends "base.html" %}

{% block page-name %}
	<h2>Submission Form</h2>
{% endblock %}

{% block content %}
{% load bootstrap3 %}
<div class="container">
<div class="row">
<div class="col-md-3"></div>
	<div class="col-md-6" style="background: #f1f1f1; padding:20px 50px;">
	<form action="." method="POST" enctype="multipart/form-data">		
	<fieldset>
		{% csrf_token %}
		{% bootstrap_form form %}
	    {% buttons %}
	        <button type="reset" class="btn btn-default">Cancel</button>
	        <button type="submit" class="btn btn-primary">Submit</button>
	    {% endbuttons %}
	    </fieldset>
		</form>
	</div>
</div>

</div>
{% endblock %}