{% extends "base.html" %}

{% block page-name %}
	<h2>Confirm Deletion</h2>
{% endblock %}

{% block content %}
{% load bootstrap3 %}
<div class="container">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">

<div class="panel panel-default">
  <div class="panel-heading text-center">
      <h5>Are you sure you want to delete "{{ object }}"?</h5>
  </div>
  <div class="panel-body text-center">
		<form action="" method="post">
			{% csrf_token %}
			<a href="javascript:history.back()" class="btn btn-primary">Cancel</a>
			&nbsp;
			<button type="submit" class="btn btn-danger" value="Confirm">Delete</button>
		</form>
  </div>
    <div class="panel-footer text-center">
    </div>

</div>

		
		</div>
		<div class="col-md-4"></div>
	</div>
</div>
{% endblock %}