{% extends "base.html" %}

{% block page-name %}
	<h2>Contest Form</h2>
{% endblock %}

{% block content %}
{% load bootstrap3 %}
<div class="container">
<div class="row">
	<div class="col-md-6" style="background: #f9f9f9; padding:20px 50px;">
		<form action="" method="post" class="form-horizontal">
		<fieldset>
		{% csrf_token %}
		{% bootstrap_form form %}
	    {% buttons %}
	        <button type="reset" class="btn btn-default">Cancel</button>
	        <button type="submit" class="btn btn-primary">Submit</button>
	    {% endbuttons %}
	    </fieldset>
		</form>
	</div>
</div>

</div>
{% endblock %}