{% extends "base.html" %}

{% block title %}{{contest.title}} by {{contest.owner}} | Next For Now{% endblock %}

{% block page-name %}
	<h2>{{contest.title}} <small>by {{contest.owner}}</small></h2>
{% endblock %}

{% block content %}
<div class="contest-details">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<img src="http://lorempixel.com/640/400/abstract/" alt="" width="100%">
			</div>
			<div class="col-md-6">
					<p><b>Description</b>: {{ contest.description }}</p>
					<p><b>Details</b>: {{ contest.details }}</p>
					<p><b>Started</b>: {{ contest.date_started }}</p>
					<p><b>Deadline</b>: {{ contest.date_deadline }}</p>
					{% if contest.is_ongoing == "Finished" %}
					<p><b>Winner:</b> <code>contest.submission.set_all.filter(is_winner=True)</code></p>
					{% endif %}

					<hr>
					
					<!-- If authenticated -->
					{% if user.is_authenticated %}
						{% if user.c_owner == contest.owner %}	
						<p>
						<p>Hey, Contest Owner!</p>
						<a href="/contests/{{contest.slug}}/update" class="btn btn-primary">Update</a>
						<a href="/contests/{{contest.slug}}/delete" class="btn btn-danger">Delete</a>
						</p>
						{% endif %}
						
						<!-- & if group is applicant -->	
						{% ifequal user.groups.all.0.name 'Applicant' %}
		
							{% if contest.submission_set.exists %}
								{% for submission in contest.submission_set.all %}
									{% if submission.applicant == user %}
										<p><b>You have posted a submission to this contest on {{ submission.date_posted }}</b></p>
											<a href="/contests/{{contest.slug}}/submissions/{{submission.pk}}" class="btn btn-default">View</a>
											<a href="/contests/{{contest.slug}}/submissions/{{submission.pk}}/update" class="btn btn-primary">Update</a>
											<a href="/contests/{{contest.slug}}/submissions/{{submission.pk}}/delete" class="btn btn-danger">Delete</a>

									{% else %}
									<p>You want to post a submission?</p>
									<p><a href="/contests/{{contest.slug}}/apply" class="btn btn-success">Post a Submission</a></p>
									{% endif %}
								{% endfor %}	

						{% else %}

						<p>You want to post a submission?</p>
						<p><a href="/contests/{{contest.slug}}/apply" class="btn btn-success">Post a Submission</a></p>
						{% endif %}

						{% endifequal %}

						<!-- If not authenticated -->
						{% else %}
						<p>You want to post a submission?</p>
						<p>
							<a href="/user/login/?next={{ request.path }}" class="btn btn-default">Click Here to Log in</a>
							<a href="/user/signup/applicant" class="btn btn-primary">Click Here to Sign Up</a>
						</p>
						{% endif %}


			</div>
		</div>
	</div>
</div>

<!-- Check if the user logged in is contest's owner -->
{% if user.c_owner == contest.owner %}
<div class="contest-submissions">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- Views the submissions -->
				<h3>Submissions</h3>
				{% if contest.submission_set.exists %}
				<ul>
					{% for submission in contest.submission_set.all %}
					<li>
						<b>Submitted by</b> {{ submission.applicant }}
						<br>
						<b>On</b> {{ submission.date_posted }}
						<br>
						<b><a href="/contests/{{contest.slug}}/submissions/{{submission.pk}}">View Submission</a></b>
					</li>
					{% endfor %}
				</ul>

				{% else %}
				<p>No submissions yet! Maybe you should pay us a hundred million dollars so we can find u an intern?</p>

				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endif %}

<!-- - - - - - - - - - - - - - - - - - - - - - - -->
{% endblock %}