{% extends "base.html" %}

{% block title %}{{contest.title}} by {{contest.owner}} | Next For Now{% endblock %}

{% block custom-title-color %} 
.page-title{
	background: {{ contest.category.hex_code }}!important; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, {{ contest.category.hex_code }} , {{ contest.category.hex_code_2 }})!important;
	background: linear-gradient(to left, {{ contest.category.hex_code }} , {{ contest.category.hex_code_2 }})!important;
	}
{% endblock %}

{% block page-name %}
	<h2>{{contest.title}} <small>by {{contest.owner}}</small></h2>
{% endblock %}

{% block content %}
<div class="contest-details">
	<div class="container">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-6">
				<img src="/media/{{contest.image}}" alt="" width="100%">
				<div class="contest-details">
					<hr>
					<h3>Details</h3>
					<p>{{ contest.details }}</p>
				</div>
			</div>
			<div class="col-md-4">
				<dl class="dl dl-contest">
					<dt>Category</dt>
					<dd>{{ contest.category }}</dd>
					<dt>Description</dt>
					<dd>{{ contest.description }}</dd>
					<dt>Award</dt>
					<dd>{{ contest.award }}</dd>
					<dt>Started</dt>
					<dd>{{ contest.date_started }}</dd>
					<dt>Deadline</dt>
					<dd>{{ contest.date_deadline }}</dd>
					{% if contest.is_ongoing == "Finished" %}
					<dt>Winner</dt>
					<dd><code>contest.submission.set_all.filter(is_winner=True)</code></dd>
					{% endif %}
				</dl>
				<hr>
					<!-- If authenticated -->
					{% if user.is_authenticated %}
						{% if user.c_owner == contest.owner %}	
						<p>
						{% if contest.is_ongoing == "Ongoing" %}
						<p>Hey, Contest Owner!</p>
						<a href="/contests/{{contest.slug}}/update" class="btn btn-primary">Update Contest</a>
						<a href="/contests/{{contest.slug}}/delete" class="btn btn-danger">Delete Contest</a>
						{% endif %}
							{% if contest.is_ongoing == "Finished" %}
								{% if contest.submission_set.exists %}
								<p>It's time to announce the winner!</p>
								<a href="/contests/{{contest.slug}}/winner" class="btn btn-info">Announce Winner</a>
								{% else %}
								<p>The deadline has come, but there's no submissions. Would you like to extend the contest date?</p>
								<a href="/contests/{{contest.slug}}/update" class="btn btn-primary">Update Contest</a>
							{% endif %}
						{% endif %}
						</p>
						{% endif %}
						
						<!-- & if group is applicant -->	
						{% ifequal user.groups.all.0.name 'Applicant' %}
		
							{% if contest.submission_set.exists %}
								{% for submission in contest.submission_set.all %}
									{% if submission.applicant == user %}
										<p><b>You have posted a submission to this contest on {{ submission.date_posted }}</b></p>
											<p><a href="/contests/{{contest.slug}}/submissions/{{submission.pk}}" class="btn btn-default">View</a>
											<a href="/contests/{{contest.slug}}/submissions/{{submission.pk}}/update" class="btn btn-primary">Update</a>
											<a href="/contests/{{contest.slug}}/submissions/{{submission.pk}}/delete" class="btn btn-danger">Delete</a>
											</p>

									{% else %}
									<p>You want to post a submission?</p>
									<p><a href="/contests/{{contest.slug}}/apply" class="btn btn-success">Post a Submission</a></p>
									{% endif %}
								{% endfor %}	

						{% else %}

						<p>You want to post a submission?</p>
						<p><a href="/contests/{{contest.slug}}/apply" class="btn btn-success">Post a Submission</a></p>
						{% endif %}

						{% endifequal %}

						<!-- If not authenticated -->
						{% else %}
						<p>You want to post a submission?</p>
						<p>
							<a href="/user/login/?next={{ request.path }}" class="btn btn-default">Click Here to Log in</a>
							<a href="/user/signup/applicant" class="btn btn-primary">Click Here to Sign Up</a>
						</p>
						{% endif %}
				
				<hr>

				<!-- Check if the user logged in is contest's owner -->
{% if user.c_owner == contest.owner %}
<div class="contest-submissions">
<!-- Views the submissions -->
				<h4>Submissions</h4>
				<div class="list-group">

				{% if contest.submission_set.exists %}
				
					{% for submission in contest.submission_set.all %}
					<div class="list-group">
						<a href="/contests/{{contest.slug}}/submissions/{{submission.pk}}" class="list-group-item">
						
						<span class="glyphicon glyphicon-pawn" aria-hidden="true"></span>

						<span class="icon-text">
						{{ submission.a_names }}
						</span>

						<span class="pull-right text-muted">
						{{ submission.date_posted }}	
						</span>

						</a>
					</div>
					{% endfor %}
				</div>

				{% else %}
				<p>No submissions yet! Maybe you should pay us a hundred million dollars so we can find u an intern?</p>
				{% endif %}
</div>
{% endif %}

<!-- - - - - - - - - - - - - - - - - - - - - - - -->
			<div class="col-md-1"></div>

			</div>
		</div>
	</div>
</div>


{% endblock %}