{% if user.is_authenticated %}
	Username: {{ user.username }}
	<br>
	Email: {{ user.email }}
	<br>
	Groups: {{ user.groups.all }}

{% else %}
	<a href="/user/login">Login Plox</a>	
{% endif %}

<hr>

<p>Filter by Category</p>
<ul>
	{% for category in contest_category_list %}
	<li><a href="/contests/category/{{ category }}">{{ category|title}}</a></li>
	{% endfor %}
</ul>

<p>Filter by Contest Onwers</p>
<ul>
	{% for owner in contest_owner_list %}
	<li><a href="/contests/company/{{ owner.id }}">{{ owner.company_name }}</a></li>
	{% endfor %}
</ul>

{% for contest in contest_list %}
<ul style='border:1px solid black; padding: 20px;'>
	<li>Contest Title: {{ contest.title }}</li>
	<li>Contest Owner: {{ contest.owner }}</li>
	<li>Contest Category: {{ contest.category|title }}</li>
	<li>Contest Status: {{ contest.ongoing_check }}</li>
	<li>Start Date: {{ contest.date_started }}</li>
	<li>Deadline: {{ contest.date_deadline }}</li>
	<a href="{% url 'contests:detail' contest.id %}">Details</a>
</ul>
{% endfor %}